Service service as ServiceClient method GET {
  Url -> @Config("endpoint")
  Path -> ${"/books/{bookId}"}
  Timeout -> ${@Config("timeout")}
  @PathParam bookId -> ${requestContext.arguments.id}
  @Header accept -> ${"application/json"}
  @Header intuit_test -> ${requestContext.headers.intuit_test}
  @Header "user_channel" -> ${requestContext.headers.user_channel}
}
